/* Contacto.css */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Gris claro de fondo */
    padding: 20px;
}

.form {
    width: 80%;
    max-width: 600px; /* Opcional: Limita el ancho máximo */
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
}
