*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #F4CE14 #EDEFEE;
}
ul{
    list-style: none
}
li{
    text-decoration: none;
}
h1{
    color: #F4CE14;
    font-size: 64pt;
}
h3{
    font-size: 40pt;
    color: #EDEFEE;
}
p{
    font-size: 18pt;
    color: #EDEFEE;
}
.precio{
    color: #EE9972;
}
button{
    background-color: #F4CE14;
    border: none;
    transition: all ease 0.3;
    padding: 5px 10px;
    border-radius: 9px;
}
button:hover{
    background-color: #f1d232;
}
.button-delivery{
    background-color: #EDEFEE;
    transition: all ease 0.4s;
}
.button-delivery:hover{
    background-color: #495E57;
    cursor: pointer;
}
/*Navbar*/

.links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 20pt;
    text-transform: capitalize;
    }
.links img{
    width: 15%;
    height: auto;
}
.link li{
    display: inline-block;
    color: #333;
    padding: 0 5px;
    transition: all ease 0.4s;
}
.link li:hover{
    background-color: #f1d232;
}
/*Hero section*/
.hero-main{
    background-color: #495E57;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.hero-main-info{
    display: flex;
    flex-direction: column;
}
.hero-main-info p{
    width: 50%;
}
.hero-main-info button{
    width: 120px;
    height: 35px;
}
.hero-main img{
    width: 60%;
    height: 90%;
    border-radius: 10px;
    position: relative;
    top: 70px;
    left: 100px;
}
/*Inicio*/
.inicio{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.inicio-fila{
    display: flex;
    flex-direction: row;
}
.inicio-especiales{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.inicio-especial{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    background-color: #EDEFEE;
    position: relative;
}
.inicio-especial img{
    width: 100%;
    height: 35%;
}
.inicio-especial p{
    color: #495E57;
    font-size: 12pt;
    line-height: 1.5;
}
.inicio-especial button{
    align-self: center;
    margin-top: auto;
    position: relative;
    bottom: 16px;
    left: 0px;
}
.inicio-especial-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.inicio-especial-info div{
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}
.inicio-especial-info div h2{
    font-size: 14pt;
}
.inicio-especial-info div p{
    color: #EE9972;
    position: absolute;
    right: 25px;
}
